<h1>Welcome to Sports Club </h1>
<p>New Members <%= link_to "Sign up now!", new_member_path%> </p>
<p>You can view this on my GITHub account <%= link_to "here", 'https://github.com/cianmc/club' %> </p>




