<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
	<body>
		<h1>Welcome to St Vincent's GAA Club, <%= @member.name %></h1>
		<p> You have successfully signed up </p>
		<p>Your teams is <%= @member.team.name %> and your next fixture is against <%= @member.team.fixture.opposition %> on the <%= @member.team.fixture.date%> </p>
	</body>
</html>                                                                                                                                                                                                                                                                                                                                                                                                                   